
/* === SECTIONS === */
body section {
	padding-left: 22px;
	padding-top: 12px;
	padding-bottom: 24px;
}
section.AngBlue {
	background-color: #b6b6f6;
}
section.AngGrey {
	background-color: #b6b6b6;
}

section.AngDarkBlue {
	background-color: #6666a6;
}

p {
	max-width: 600px;
}

section.todoList {
	background-color: #d6d6d6;
	max-width: 400px;
}

ul.todoList {
	list-style-type: none;
}

.done-false {
	
}
.done-true {
	color: #eeeeee;
	text-decoration: line-through; /*Strikethrough...never used it before*/
	/* I actually really like this kind of coding... fun. :) Maybe. ;) */
}
.archived {
	color: #dfdfdf;
}
/* OH! Very interesting....so we can dynamically make names 
and change CSS with Angular "commands"....
very interesting, indeed... */

.toEdge {
	margin-left: -30px;
	width: 110%;
	margin-bottom: -160px;
	padding-bottom: 0px;
}

.pageBottom {
	padding-bottom: 0px;
}

.css-red {
	background-color: #dd2244;
}

.css-blue {
	background-color: #464696;
}

.css-yellow {
	background-color: #dd8811;
}

.cssSquare {
	float: left;
	padding: 6px;
	width: 35px;
	height: 35px;
	color: #ffffff;
	margin: 1px;
	transition: all 1s;
}
.cssSquare:hover {
	background-color: #ffeeee;
	cursor: pointer;
	transition: all .1s;
}
.cssSquare:active {
	background-color: #ffa202;
	transition: all .6s;
}

.clearBoth {
	clear: both;
}